@import url("https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css");
@import url("https://fonts.googleapis.com/css2?family=PT+Sans+Narrow&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Julius+Sans+One&family=Poiret+One&display=swap");

body {
  margin: 0;
}

a {
  text-decoration: none;
}

main {
  background-color: #202122;
  background-image: url("background.jpg");
}

.home section {
  position: relative;
  display: flex;
  padding-top: 6rem;
  flex-direction: column;
  min-height: 100vh;
}

.home section h1 {
  color: rgba(193, 202, 198, 255);
  font-size: 3rem;
  font-family: "Julius Sans One", sans-serif;
  margin-bottom: 3rem;
  margin: 0 auto;
  text-align: center;
}

.home section h2 {
  color: rgb(206, 206, 206);
  font-size: 1.6rem;
  font-family: "PT Sans Narrow", sans-serif;
  margin: 1rem auto;
}

.home section h3 {
  color: rgb(208, 208, 255);
  font-size: 1.2rem;
  margin: 1rem auto;
  padding: 0 8rem;
  max-width: 1000px;
  text-align: center;
  line-height: 2rem;
  font-family: "Julius Sans One", sans-serif;
  font-weight: bold;
}

.home-image {
  width: 20rem;
  margin: 1rem auto;
  border: 2px solid black;
  box-shadow: 6px 9px 15px rgb(19, 19, 19);
}

.navbar-container {
  background-color: rgba(83, 93, 102, 255);
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  padding: 0 2rem;
  position: fixed;
  z-index: 100;
}

.navbar-container nav {
  display: flex;
  font-family: "PT Sans Narrow", sans-serif;
}

.navlink {
  display: inline-flex;
  align-items: center;
  padding: 0 0.75rem;
  margin: 1rem 0.6rem;
  color: white;
  font-size: 1rem;
  border-bottom: 2px solid transparent;
}

.navlink:hover {
  color: rgb(147, 211, 190);
}

.active-navlink {
  color: rgb(147, 211, 190);
  border-bottom: 2px solid rgb(147, 211, 190);
}

.social-icons-container {
  display: inline-flex;
  padding: 0.8rem 0;
}

.social-icons-container * {
  margin-right: 1rem;
  height: 30px !important;
  width: 30px !important;
}

.social-icons-container > * :hover {
  opacity: 0.9;
}

.projects-main {
  min-height: 100vh;
  padding: 5rem 3rem;
}

.projects-container {
  width: 100%;
  max-width: 60rem;
  margin: auto;
}

.route-title {
  color: rgb(206, 206, 206);
  font-size: 2.6rem;
  display: flex;
  justify-content: center;
  font-family: "Julius Sans One", sans-serif;
}

.route-description {
  font-size: 1.5rem;
  color: white;
  display: flex;
  justify-content: center;
  margin-bottom: 3rem;
  text-align: center;
}

.projects-container h3 {
  color: rgb(147, 211, 190);
  font-size: 1.5rem;
  font-weight: bold;
  padding: 0.8rem 1rem;
  background-color: rgba(53, 53, 53, 0.9);
  border-radius: 0.25rem;
}

.projects-wrapper {
  display: flex;
  flex-direction: column;
}

.projects-wrapper article {
  padding: 1rem;
}

.project-span {
  display: block;
  height: 25rem;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  line-height: 1.375;
  background-color: white;
  border-left: solid rgb(10, 63, 235) 10px;
  box-shadow: 3px 6px 10px rgb(44, 44, 44);
}

.project-span:hover {
  border-left: solid rgb(84, 128, 251) 10px;
}

@keyframes zooom {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(2);
  }
}

.project-span img {
  width: 100%;
  height: 100%;
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
  object-fit: cover;
  position: absolute;
  transition: ease 0.3s;
}

.zooom img {
  transition: linear 1s;
}

.project-span:hover img {
  transform: scale(1.1);
}

.zooom:hover img {
  animation: zooom 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.project-span span {
  display: block;
  position: relative;
  display: flex;
  justify-content: flex-end;
  padding-right: 1rem;
  padding-top: 1rem;
}

.jobs-main {
  min-height: 100vh;
  padding: 5rem 3rem;
}

.jobs-container {
  max-width: 60rem;
  width: 100%;
  margin: auto;
}

.jobs-container section {
  display: flex;
  flex-direction: column;
}

.jobs-container section article {
  margin: 1rem;
  padding: 2rem;
  border-radius: 10px;
  position: relative;
  background-color: white;
  box-shadow: 3px 6px 10px rgb(44, 44, 44);
}

.job-title {
  color: rgb(22, 116, 84);
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.job-title a:hover {
  color: rgb(147, 211, 190);
}

.job-details {
  color: rgb(93, 93, 93);
  font-size: 0.75rem;
}

.job-details span {
  margin-right: 1rem;
}

strong {
  font-weight: bold;
}

.job-details p {
  margin: 1.5rem 0;
  font-size: 1.125rem;
  color: rgb(93, 93, 93);
  line-height: 1.625;
}

.job-details a {
  color: rgb(32, 19, 216);
  font-weight: bold;
  font-size: 1.25rem;
}

.job-details a:hover {
  text-decoration: underline;
  color: rgb(67, 97, 231);
}

.tags-container {
  display: flex;
  margin-top: 0.6rem;
  flex-wrap: wrap;
}

.tags-container span {
  border: 1px solid gray;
  border-radius: 5px;
  background-color: gray;
  color: white;
  padding: 0 0.4rem;
  margin-bottom: 5px;
}

.about-main {
  position: relative;
  height: 100vh;
}

.about-main > img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.about-container {
  padding: 5rem 3rem;
  width: 100%;
  margin: auto;
  position: relative;
}

.about-container section {
  background-color: rgb(28, 20, 98);
  border-radius: 0.5rem;
  box-shadow: 3px 6px 10px rgb(44, 44, 44);
  padding: 4rem;
}

.my-photo {
  border-radius: 0.5rem;
  width: 10rem;
  height: 10rem;
  margin-right: 1rem;
}

.about-card {
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.about-card h1 {
  font-family: "PT Sans Narrow", sans-serif;
  font-size: 3rem;
  color: green;
  margin-bottom: 1rem;
}

.about-card span {
  color: rgb(120, 221, 120);
}

.about-block-content {
  color: white;
  font-size: 1rem;
}

.single-post-main {
  background-color: #202122;
  min-height: 100vh;
  padding: 5rem 3rem;
}

.single-post-main h1 {
  color: rgba(193, 202, 198, 255);
  font-size: 2.6rem;
  font-family: "Julius Sans One", sans-serif;
  margin-bottom: 3rem;
  margin: 0 auto;
  text-align: center;
}

.single-post-container {
  max-width: 60rem;
  box-shadow: 3px 6px 10px rgb(44, 44, 44);
  margin-left: auto;
  margin-right: auto;
  border-radius: 0.5rem;
  background-color: rgba(62, 166, 255, 0.3);
  color: white;
}

.single-post-container header {
  position: relative;
}

.post-image {
  width: 100%;
  object-fit: cover;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  height: 400px;
}

.post-details {
  padding: 3rem 4rem;
  max-width: 100%;
}

.post-links {
  display: flex;
  flex-direction: column;
  padding-bottom: 2rem;
  font-size: 1.2rem;
}

.post-links span {
  padding-bottom: 1rem;
  font-weight: bold;
}

.post-links a {
  color: rgb(130, 230, 16);
}

.post-links a:hover {
  color: rgb(193, 255, 122);
}

.post-block-content {
  font-size: 1.1rem;
}

.post-video {
  width: 95%;
  margin: auto;
  position: relative;
  padding-bottom: 53.438%;
}

.post-video iframe {
  width: 100%;
  height: 100%;
  position: absolute;
}

.loader-container {
  display: flex;
  justify-content: center;
  padding-top: 3rem;
}
